@model GazProjec.Models.LoginModel

@{
    ViewBag.Title = "התחברות";
}

<hgroup class="title">
    <h1 style="direction:rtl;float:right;margin: 0 47%;">@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm" >
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>התחברות</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName, "שם משתמש")
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password, "סיסמה")
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, "זכור אותי" ,new { @class = "checkbox", style = "direction:rtl;" })
            </li>
        </ol>
        <input type="submit" value="התחבר" />
    </fieldset>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
