@model List<GazProjec.Areas.Customers.Models.NotificationViewModel>


@{
    ViewBag.Title = "החשבון שלי";

}

<div id="mainPanel" class='admin-home' style="direction:rtl;padding-top:5%;">
    <table style="font-size:30px; margin: 0 auto;">
        <tr>
            <td>@Html.ActionLink("צריכה אישית", "Index", "Consumption", new { Area = "Customers" }, new { @class = "k-button k-button-icontext" })</td>
            <td>@Html.ActionLink("חשבוניות", "Index", "Bills", new { Area = "Customers" }, new { @class = "k-button k-button-icontext" })</td>
            <td>@Html.ActionLink("תלונות", "Index", "Complaints", new { Area = "Customers" }, new { @class = "k-button k-button-icontext" })</td>
        </tr>
    </table>
</div>

<div style="padding: 30px 0 20px;">
    <hr />
</div>


<div id="userNotifcations" style="direction: rtl;">
    <ul style="color: red;">
        @foreach (var item in Model)
        {
            <li>@item.CreateTime : @item.Content</li>
        }
    </ul>
</div>




