@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "מערכת ניהול";
}

<div id="mainPanel" class='admin-home' style="direction:rtl;padding-top:5%;">
    <table style="font-size:30px; margin: 0 auto;">
        <tr>
            <td>@Html.ActionLink("משתמשים", "Index", "Users", new { Area = "Admin" }, new { @class = "k-button k-button-icontext" })</td>
            <td>@Html.ActionLink("מונים", "Index", "Counter",new { Area = "Admin" }, new { @class = "k-button k-button-icontext" })</td>
            <td>@Html.ActionLink("התראות", "Index", "Notifications",new { Area = "Admin" }, new { @class = "k-button k-button-icontext" })</td>
            <td>@Html.ActionLink("תלונות", "Index", "Complaints", new { Area = "Admin" }, new { @class = "k-button k-button-icontext" })</td>
            <td>@Html.ActionLink("חיבור לקוח למונה", "Index", "CounterUserReference", new { Area = "Admin" }, new { @class = "k-button k-button-icontext" })</td>
        </tr>
    </table>
</div>
